@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  body {
    @apply bg-ink-50 text-ink-900 font-sans;
  }
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    @apply rounded-full bg-ink-200;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-ink-300;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
}

@layer utilities {
  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-none {
    scrollbar-width: none;
  }
}